div img{
    border-radius: 20px;
}

div{
    border-radius: 20px;
    padding: 10px;
}
#searchPin{
  background-color: #f2f2f2;
  border: none;
  margin-top: 10px;
  padding-left: 30px;
  margin-left: 50px;
}

#lupa{
    position: absolute;
    left: 10%;
    top: 25px;
    color: #aaa;
    cursor: pointer;
    font-size: 25px;
}

#close{
    position: absolute;
    left: 78%;
    top: 20px;
    padding: 9px 8px;
    color: gray;
    cursor: pointer;
}

#dropdown{
    margin-left: 0%;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

#div{
    position: relative;
}

#iconPinterest{
    color: red;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 30px;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    #div{
        position: relative;
        left: 0%;
    }
  }

.links{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    cursor: pointer;
    color: gray;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color: gray;
}

a:visited {
    text-decoration: none;
    color: gray;
}

#iconoFinal{
    display: flex;
    justify-content: space-around;
    color: gray;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
}

#grupoBotones{
    display: flex;
    justify-content: space-around;
    color: gray;
    font-size: 30px;
}

#grupoBotones i{
    cursor: pointer;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.p-2{
    display: flex;
    justify-content: space-around;
}

.box1{
    flex:2;
}
.box2{
    flex:1;
}
.box3{
    flex:1;
}

#userIcon{
    color:gray;
    font-size: 30px;
    padding-left: 15px;
}

#userIcon2{
    color:gray;
    font-size: 80px;
    padding-left: 150px;
}

.user{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    color: gray;
    font-weight: bold;
}

h2{
padding-top: 20px;
color: black;
}
.guardarPin div{

    height: 200px;
    display: inline-flex;
    margin-left: 30px;
}

.guardarPin{
    margin-left: 90px;
    margin-top: 40px;
    border: solid;
    border-color: lightblue;
    width: 300px;
    background-color: lightgray;
    padding-left: 20px;
}
.guardarPin p{
    padding-left:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: -10px;
   margin-left: -20px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    width: 294px;
    color: gray;
    border-radius: 0px 0px 20px 20px;
}

.menu {
    text-align: center;
    justify-content: center;
}

.menu p{
    display: inline;
    margin-right: 50px;
    color: gray;
    font-weight: bold;
    cursor: pointer;
}

#plus{
    text-align: center;
    color: red;
    font-size: 45px;
    cursor: pointer;
    margin-left: 60px;
    margin-top: 65px;
}

h4{
    position: absolute;
}



#pinCreado{
    margin-left: 450px;
    margin-top: -275px;
    border: solid;
    border-color: lightblue;
    width: 300px;
    height: 280px;
    background-color: lightgray;
    padding-left: 20px;
}

#iconTrash{
    color: red;
    font-size: 25px;
    margin-top: 130px;
    margin-left: 230px;
    cursor: pointer;
}

